.red {
  background-color: red;
  color: white;
}
* {
  margin: 0;
  padding: 0;
}
nav {
  background-color: black;
  color: white;
  padding: 10px;
  display: flex;
  gap: 30px;
}

li {
  list-style: none;
  padding: 23px;
}

a li {
  color: white;
  text-decoration: none;
}

.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(40px + 2vmin);
  color: white;
      height: 80px;
}

.App a img {
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.VR {
display: flex;
justify-content: center;
align-items: center;
  font-size: 40px;
 
}

.font{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: #61dafb;

}
