body{
    background-color: #7a7474;
    display: flex;
}

.box1{
    border: 2px solid black;
   width: 18%;
   height: 470px;
   padding: 10px 30px 0px 10px;
   margin: 90px 10px 0px 140px;
   border-radius: 10px;
   background-color: white;

}

.box2 img{
    width: 294px;
    height: 202px;
    border-radius: 10px;
}

.deep{
    border: 2px solid black;
    border-radius: 10px;
    padding: 3px 10px 3px 10px ;
    margin: 0px -10px 0px 18px ;
    cursor: pointer;
}

.box3 button:hover{
    background-color: rgb(248, 236, 15);
    color: rgb(14, 8, 8);
}

.box4 h2{
    /* padding: 0px 0px 0px 50px ; */
    text-align: center;
}

.box5{
    font-size:16px ;
    font-style: italic;
   margin: 0px 0px 0px 10px ;
}

.box6 button{
  padding: 4px 10px 4px 10px ;
  margin-left: 15px;
  color: blue;
  height: 40px;
  width: 37%;
  border-radius: 50px;
  box-shadow: inset 0px 0px 20px 0px;
  text-shadow: 0px 0px 20px blue;
  cursor: pointer;
}

.box6 button:hover{
    background-color: black;
    color: white;
}

.box6{
    text-align: center;
}